<launch>
  <!-- Simulation world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_world)/world/data.world"/>
  </include>

  <!-- Robot model -->
  <param name="robot_description" command="$(find xacro)/xacro $(find gazebo_model)/urdf/transform.urdf.xacro"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtle_burger -x -2 -y -0.5 -z 0 -param robot_description"/>

  <!-- Rviz simulation -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find gazebo_navigation)/rviz/navigation.rviz"/>

  <!-- Navigaion -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(find gazebo_navigation)/map/map.yaml"/>
  <include file="$(find gazebo_navigation)/launch/amcl.launch"/>
  <include file="$(find gazebo_navigation)/launch/move_base.launch"/>

</launch>
